[submodule "P1 PitchPerfect"]
	path = P1 PitchPerfect
	url = https://github.com/rajanikantdeshmukh/PitchPerfect
[submodule "P2 MemeMe"]
	path = P2 MemeMe
	url = https://github.com/rajanikantdeshmukh/MemeMe
[submodule "P3 OnTheMap"]
	path = P3 OnTheMap
	url = https://github.com/rajanikantdeshmukh/OnTheMap
[submodule "P4 VirtualTourist"]
	path = P4 VirtualTourist
	url = https://github.com/rajanikantdeshmukh/VirtualTourist
[submodule "JSON-Feed-Reader"]
	path = P5 JSON-Feed-Reader
	url = git@github.com:aruke/JSON-Feed-Reader.git
